<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
    <div class="container">
        <div class="navbar-brand">Angular 21 Auth Boilerplate</div>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/profile" class="nav-link">Profile</a>
            </li>
            <li class="nav-item" *ngIf="account.role === 'Admin'">
                <a routerLink="/admin" class="nav-link">Admin</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <span class="nav-link">{{ account.firstName }} {{ account.lastName }}</span>
            </li>
            <li class="nav-item">
                <button (click)="logout()" class="btn btn-link nav-link">Logout</button>
            </li>
        </ul>
    </div>
</nav>
<router-outlet name="subnav"></router-outlet>
<alert></alert>
<div class="container mt-4">
    <router-outlet></router-outlet>
</div>